<h1>StaticPages#home</h1>
<p>Find me in app/views/static_pages/home.html.erb</p>





<%= link_to '获取hero数据', get_card_info_path %>

<%= link_to '获取cards base 数据', getCard_path %>

<%= link_to '获取cards 详细 数据', getCardInfo_path %>

<%= link_to '获取cards list 数据', getCardInfoForList_path %>
